# -----------------------------
# Environnements Python
# -----------------------------
env_examen/
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Fichiers temporaires Python
# -----------------------------
*.log
*.tmp
*.swp

# -----------------------------
# Données volumineuses ou générées par DVC
# -----------------------------
data/raw_data/*
data/processed_data/*
models/*
metrics/*

# -----------------------------
# Fichiers IDE / OS
# -----------------------------
.vscode/
.idea/
.DS_Store
Thumbs.db

# -----------------------------
# DVC cache (ne pas suivre avec Git)
# -----------------------------
.dvc/cache/

# -----------------------------
# Ne pas ignorer les fichiers de suivi DVC essentiels
# -----------------------------
!.dvc/config
!.dvc/.gitignore
!.dvc/tmp/
!.dvc/*.dvc

# -----------------------------
# Notebooks temporaires
# -----------------------------
*.ipynb_checkpoints

# -----------------------------
# Autres fichiers temporaires ou secrets
# -----------------------------
*.env
