# -----------------------------
# Environnements Python
# -----------------------------
env_examen/
venv/
__pycache__/
*.pyc

# -----------------------------
# Données volumineuses ou générées par DVC
# -----------------------------
data/raw_data/*
data/processed_data/*
models/*

# -----------------------------
# Fichiers temporaires / logs
# -----------------------------
*.log
*.tmp

# -----------------------------
# Fichiers IDE / OS
# -----------------------------
.vscode/
.idea/
.DS_Store

=======
# Environnements virtuels
env_examen/
.venv/
venv/

# Données brutes
data/raw_data/*.csv

# DVC cache
#.dvc/cache/
=======
=======
# -----------------------------
# Environnements Python
# -----------------------------
env_examen/
venv/
__pycache__/
*.pyc

# -----------------------------
# Données volumineuses ou générées par DVC
# -----------------------------
data/raw_data/*
data/processed_data/*
models/*

# -----------------------------
# Fichiers temporaires / logs
# -----------------------------
*.log
*.tmp

# -----------------------------
# Fichiers IDE / OS
# -----------------------------
.vscode/
.idea/
.DS_Store

# -----------------------------
# DVC files à ne pas ignorer
# -----------------------------


# .dvc, dvc.yaml, dvc.lock doivent rester suivis par Git
# pour versionner la pipeline et les métadonnées des données

env_examen/
env_examen/
/raw.csv
